<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
	<title>fresh</title>
		<!-- <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon"> -->
<link href="/./app.css" rel="stylesheet"></head>
<body class="index">
 <header>
  <div class="head-block container">
	  <div class="menu">
	  	<div class="menu-btn">
	  		<svg class='menu-btn-circle' >
	     		<circle class='circle-ext circle-desk' r="8" cx="50%" cy="50%" fill="transparent" stroke="crimson" stroke-width="5" />
	     		<circle class='circle-ext circle-mob' r="40%" cx="50%" cy="50%" fill="transparent" stroke="crimson" stroke-width="5" />
	     		<!-- <circle class='circle-inter' r="6" cx="50%" cy="50%" fill="#57c8f3" stroke="crimson" stroke-width="5" /> -->
			</svg>
	  	</div>
	  	<div class="menu-blk">
		  	<div class="menu-block">
	  			<a class="menu-item" href="/video.html">video</a>
	  			<a class="menu-item" href="/photo.html">photo</a>
	  			<a class="menu-item" href="/creators.html">the creators</a>
	  			<a class="menu-item" href="/about.html">about</a>
	  			<a class="menu-item" href="/archive.html">archive</a>
	  			<a class="menu-item" href="/news.html">news</a>
	  			<a class="menu-item" href="/contact.html">contact</a>
		  	</div>
	  	</div>
	  	<div class="menu-mob">
	  		<div class="logo-mob-blk">
	  			<a class="fresh-logo logo-mob" href="/">fresh films</a>
	  		</div>
	  		<div class="menu-block-mob">
	  			<a class="menu-item" href="/video.html">video</a>
	  			<a class="menu-item" href="/photo.html">photo</a>
	  			<a class="menu-item" href="/creators.html">the creators</a>
	  			<a class="menu-item" href="/about.html">about</a>
	  			<a class="menu-item" href="/archive.html">archive</a>
	  			<a class="menu-item" href="/news.html">news</a>
	  			<a class="menu-item" href="/contact.html">contact</a>
		  	</div>
	  	</div>
	  </div>
	 <a class="fresh-logo logo-desk" href="/">fresh films</a>
 </div>
</div>
</header>	
<section class="index-content">
	<div id="slider-big" class="owl-carousel">
		<div class="slide-img" style="background-image: url('./img/slide-img/slide-index1.png');">
			<div class="slide-big-content container">
				<div class="slide-big-block">
					<span class="slide-big-first-txt">siberian crown</span>
					<span class="slide-big-second-txt">there is something to be proud of </span>
				</div>
			</div>
		</div>
		<div class="slide-img" style="background-image: url('./img/slide-img/slide-index2.png');">
			<div class="slide-big-content container">
				<div class="slide-big-block">
					<span class="slide-big-first-txt">siberian crown</span>
					<span class="slide-big-second-txt">there is something to be proud of </span>
				</div>
			</div>
		</div>
		<div class="slide-img" style="background-image: url('./img/slide-img/slide-index3.png');">
			<div class="slide-big-content container">
				<div class="slide-big-block">
					<span class="slide-big-first-txt">siberian crown</span>
					<span class="slide-big-second-txt">there is something to be proud of </span>
				</div>
			</div>
		</div>
		<div class="slide-img" style="background-image: url('./img/slide-img/slide-index4.png');">
			<div class="slide-big-content container">
				<div class="slide-big-block">
					<span class="slide-big-first-txt">siberian crown</span>
					<span class="slide-big-second-txt">there is something to be proud of </span>
				</div>
			</div>
		</div>
		<div class="slide-img" style="background-image: url('./img/slide-img/slide-index5.png');">
			<div class="slide-big-content container">
				<div class="slide-big-block">
					<span class="slide-big-first-txt">siberian crown</span>
					<span class="slide-big-second-txt">there is something to be proud of </span>
				</div>
			</div>
		</div>
		<div class="slide-img" style="background-image: url('./img/slide-img/slide-index6.png');">
			<div class="slide-big-content container">
				<div class="slide-big-block">
					<span class="slide-big-first-txt">siberian crown</span>
					<span class="slide-big-second-txt">there is something to be proud of </span>
				</div>
			</div>
		</div>
		<div class="slide-img" style="background-image: url('./img/slide-img/slide-index7.png');">
			<div class="slide-big-content container">
				<div class="slide-big-block">
					<span class="slide-big-first-txt">siberian crown</span>
					<span class="slide-big-second-txt">there is something to be proud of </span>
				</div>
			</div>
		</div>
		<div class="slide-img" style="background-image: url('./img/slide-img/slide-index8.png');">
			<div class="slide-big-content container">
				<div class="slide-big-block">
					<span class="slide-big-first-txt">siberian crown</span>
					<span class="slide-big-second-txt">there is something to be proud of </span>
				</div>
			</div>
		</div>
		<div class="slide-img" style="background-image: url('./img/slide-img/slide-index9.png');">
			<div class="slide-big-content container">
				<div class="slide-big-block">
					<span class="slide-big-first-txt">siberian crown</span>
					<span class="slide-big-second-txt">there is something to be proud of </span>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="footer container">
		<div class="footer-lang-block">
			<div id="f-lang" class="footer-lang">
				<span class="footer-lang-item footer-txt">en</span>
				<div class="arrow-lang">
					<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 121.4 72.4" style="enable-background:new 0 0 121.4 72.4;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:#fff;}
					</style>
					<title>^</title>
					<g id="Layer_4">
						<path class="st0" d="M51.4,68.5c5.2,5.1,13.5,5.1,18.6,0l47.3-47.3c5.1-5.1,5.5-13.2,0.8-17.9s-12.8-4.4-17.9,0.8L70,34.2
							c-5.2,5.1-13.5,5.1-18.6,0L21.2,4.1C16.1-1.1,8-1.4,3.3,3.3s-4.4,12.8,0.7,17.9L51.4,68.5z"/>
					</g>
					</svg>
				</div>
			</div>
			<div class="footer-choose">
				<span class="footer-choose-item footer-txt ">ru</span>
				<span class="footer-choose-item footer-txt" style="display: none;">en</span>
			</div>
			<div class="page-block">
				<span class="page-txt">© 2014-2018 fresh films. all rights reserved.</span>
			</div>
		</div>
		<div class="footer-social">
			<a class="footer-social-item footer-txt" href="#">fb.</a>
			<a class="footer-social-item footer-txt" href="#">in.</a>
			<a class="footer-social-item footer-txt" href="#">vm.</a>
		</div>
	</div>
</footer>  

<script type="text/javascript" src="/app.js"></script></body>
</html>