@font-face {
    font-family: 'Montserrat-Light';
    src:url(/fonts/Montserrat-Light.woff2) format('woff2'),
     url(/fonts/Montserrat-Light.woff) format('woff'), 
      url(/fonts/Montserrat-Light.svg#Montserrat-Light) format('svg'),
     url(/fonts/Montserrat-Light.ttf) format('truetype');
    font-style: normal;
} 

@font-face {
    font-family: 'Montserat-Bold';
    src:url(/fonts/Montserrat-Bold.woff2) format('woff2'),
     url(/fonts/Montserrat-Bold.woff) format('woff'), 
      url(/fonts/Montserrat-Bold.svg#Montserrat-Light) format('svg'),
     url(/fonts/Montserrat-Bold.ttf) format('truetype');
    font-style: normal;
} 
.ml {
  font-family: 'Montserrat-Light';
}
.mb {
  font-family: 'Montserat-Bold';
}
body {
  position: relative;
  overflow-x: hidden;
}
footer {
  margin-top: 67px !important;
}
@media only screen and (max-width: 767px) {
  footer {
    margin-top: 8vw !important;
  }
}
div::-moz-selection,
span::-moz-selection,
br::-moz-selection,
a::-moz-selection {
  background: #5ac6f1 !important;
  color: #fff !important;
}
div::selection,
span::selection,
br::selection,
a::selection {
  background: #5ac6f1 !important;
  color: #fff !important;
}
.index {
  overflow: hidden;
}
.index .menu-btn {
  background: transparent;
}
.index .menu-btn-circle .circle-ext {
  stroke: #fff;
  -webkit-transition: stroke 0.2s, fill 0.2s, -webkit-transform 0.2s;
  transition: stroke 0.2s, fill 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, stroke 0.2s, fill 0.2s;
  transition: transform 0.2s, stroke 0.2s, fill 0.2s;
  transition: transform 0.2s, stroke 0.2s, fill 0.2s, -webkit-transform 0.2s;
}
.index .menu-btn-circle .circle-ext:hover {
  stroke: #57c8f3;
}
.index .footer-lang-item,
.index .footer-choose-item,
.index .footer-social-item,
.index .fresh-logo,
.index .menu-item {
  color: #fff;
}
.index .menu-block {
  -webkit-transition: 0.7s ease !important;
  -o-transition: 0.7s ease !important;
  transition: 0.7s ease !important;
}
.index .menu-open .circle-ext {
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  fill: #fff;
}
@media only screen and (max-width: 767px) {
  .index .menu-open .circle-ext {
    fill: #636466;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    stroke-width: 0;
  }
}
.index .menu-open .circle-ext:hover {
  fill: #57c8f3;
}
.index header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}
.index footer {
  position: absolute;
  bottom: 16px;
  z-index: 2;
  width: 100%;
  margin-top: 0;
}
.index .page-block {
  display: none;
}
.index .footer-lang {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.index .footer-lang svg .st0 {
  fill: #fff;
  -webkit-transition: fill 0.2s;
  -o-transition: fill 0.2s;
  transition: fill 0.2s;
}
.index .footer-lang:hover svg .st0 {
  fill: #57c8f3;
}
@media only screen and (max-width: 767px) {
  .index .footer-social {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media only screen and (max-width: 767px) {
  .index .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: auto;
  }
}
.index.menu-up .footer-txt {
  -webkit-transition: color 0s ease 0.9s;
  -o-transition: color 0s ease 0.9s;
  transition: color 0s ease 0.9s;
}
@media only screen and (max-width: 767px) {
  .index.menu-up .footer-txt {
    color: #636466 !important;
  }
}
@media only screen and (max-width: 767px) {
  .index .footer-txt {
    -webkit-transition: color 0s ease 0.4s;
    -o-transition: color 0s ease 0.4s;
    transition: color 0s ease 0.4s;
  }
}
@media only screen and (max-width: 767px) {
  .index .logo-desk {
    display: block;
    top: 1vw;
    position: relative;
    z-index: 0;
  }
}
.index .logo-mob-blk {
  display: none;
}
.head-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .head-block {
    margin-top: 10vw;
  }
}
.menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#slider-big {
  width: 100%;
  position: relative;
}
#slider-big .slide-img {
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#slider-big .slide-img img {
  width: 100%;
}
#slider-big .owl-nav .owl-prev,
#slider-big .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  outline: none;
}
@media only screen and (max-width: 767px) {
  #slider-big .owl-nav .owl-prev,
  #slider-big .owl-nav .owl-next {
    width: 3vw;
  }
}
#slider-big .owl-nav .owl-prev svg path,
#slider-big .owl-nav .owl-next svg path {
  fill: #fff;
  -webkit-transition: fill 0.2s;
  -o-transition: fill 0.2s;
  transition: fill 0.2s;
}
#slider-big .owl-nav .owl-prev:hover svg path,
#slider-big .owl-nav .owl-next:hover svg path {
  fill: #57c8f3;
}
#slider-big .owl-nav .owl-prev {
  left: 11px;
}
#slider-big .owl-nav .owl-next {
  right: 11px;
}
#slider-big .active .slide-big-block {
  opacity: 1;
  -webkit-transition: opacity 1s ease 0.8s;
  -o-transition: opacity 1s ease 0.8s;
  transition: opacity 1s ease 0.8s;
}
.slide-content-block {
  position: absolute;
}
.menu-btn-circle {
  stroke: #fff;
  width: 20px;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .menu-btn-circle {
    width: 100% !important;
  }
}
.menu-btn-circle .circle-ext {
  stroke-width: 4;
  stroke: #626262;
  opacity: 1;
  fill: transparent;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: opacity 0.2s, fill 0.2s, stroke 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, fill 0.2s, stroke 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, opacity 0.2s, fill 0.2s, stroke 0.2s;
  transition: transform 0.2s, opacity 0.2s, fill 0.2s, stroke 0.2s;
  transition: transform 0.2s, opacity 0.2s, fill 0.2s, stroke 0.2s, -webkit-transform 0.2s;
}
.menu-btn-circle .circle-ext:hover {
  stroke: #57c8f3;
}
@media only screen and (max-width: 767px) {
  .menu-btn-circle .circle-ext {
    stroke-width: 15%;
  }
}
.menu-btn-circle .circle-inter {
  stroke: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.menu-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 45px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.7s ease-out;
  transition: -webkit-transform 0.7s ease-out;
  -o-transition: transform 0.7s ease-out;
  transition: transform 0.7s ease-out;
  transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  .menu-block {
    margin-left: 4vw;
  }
}
.title {
  padding-left: 45px;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.4s ease-out 0.7s;
  transition: -webkit-transform 0.4s ease-out 0.7s;
  -o-transition: transform 0.4s ease-out 0.7s;
  transition: transform 0.4s ease-out 0.7s;
  transition: transform 0.4s ease-out 0.7s, -webkit-transform 0.4s ease-out 0.7s;
}
@media only screen and (max-width: 767px) {
  .title {
    padding-left: 13vw;
  }
}
.title-hide {
  z-index: -1;
  -webkit-transition: z-index 0 ease 0.7s;
  -o-transition: z-index 0 ease 0.7s;
  transition: z-index 0 ease 0.7s;
}
.title-hide .title {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
.page-title {
  position: absolute;
  top: 0px;
  left: 124px;
  overflow: hidden;
  height: 35px;
}
@media only screen and (max-width: 1919px) {
  .page-title {
    left: 6.5vw;
  }
}
@media only screen and (max-width: 767px) {
  .page-title {
    height: 8vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    left: 7.5vw;
  }
}
.menu-open {
  /* & .circle-inter{
		opacity: 1;
	} */
}
.menu-open .circle-ext {
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  fill: #626262;
}
.menu-open .circle-ext:hover {
  fill: #57c8f3;
}
.menu-open .menu-block {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.7s ease-out 0.5s;
  transition: -webkit-transform 0.7s ease-out 0.5s;
  -o-transition: transform 0.7s ease-out 0.5s;
  transition: transform 0.7s ease-out 0.5s;
  transition: transform 0.7s ease-out 0.5s, -webkit-transform 0.7s ease-out 0.5s;
}
.menu-open .menu-mob {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.5s;
  transition: -webkit-transform 0.5s ease 0.5s;
  -o-transition: transform 0.5s ease 0.5s;
  transition: transform 0.5s ease 0.5s;
  transition: transform 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
}
.index-content {
  z-index: 1;
}
.menu-item {
  font-family: 'Montserrat-Light';
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  padding-right: 45px;
  text-shadow: none;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 20% 50%;
      -ms-transform-origin: 20% 50%;
          transform-origin: 20% 50%;
  -webkit-transition: color 0.2s, -webkit-transform 0.2s;
  transition: color 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, color 0.2s;
  transition: transform 0.2s, color 0.2s;
  transition: transform 0.2s, color 0.2s, -webkit-transform 0.2s;
}
.menu-item:hover {
  color: #57c8f3 !important;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: color 0.1s, -webkit-transform 0.1s;
  transition: color 0.1s, -webkit-transform 0.1s;
  -o-transition: color 0.1s, transform 0.1s;
  transition: color 0.1s, transform 0.1s;
  transition: color 0.1s, transform 0.1s, -webkit-transform 0.1s;
}
@media only screen and (max-width: 1023px) {
  .menu-item {
    padding-right: 4.4vw;
    font-size: 1.37vw;
  }
}
@media only screen and (max-width: 767px) {
  .menu-item {
    text-align: center;
    font-size: 8vw;
    font-family: 'Montserat-Bold';
    color: #636466 !important;
  }
}
@media only screen and (max-width: 767px) {
  .menu-item:not(:first-child) {
    margin-top: 15px;
  }
}
.menu-item-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 4;
}
@media only screen and (max-width: 1919px) {
  .menu-btn {
    background: #fff;
  }
}
@media only screen and (max-width: 767px) {
  .menu-btn {
    width: 8vw;
    height: 8vw;
  }
}
.fresh-logo {
  font-family: 'Montserat-Bold';
  font-size: 21px;
  color: #636466;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.fresh-logo:hover {
  color: #57c8f3 !important;
}
@media only screen and (max-width: 767px) {
  .fresh-logo {
    font-size: 6vw;
    z-index: 4;
  }
}
.slide-big-content {
  background-image: url('/img/overlay.png');
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slide-big-first-txt {
  font-family: 'Montserat-Bold';
  font-size: 60px;
  color: #fff;
  display: block;
}
@media only screen and (max-width: 767px) {
  .slide-big-first-txt {
    font-size: 9.4vw;
  }
}
.slide-big-second-txt {
  font-family: 'Montserrat-Light';
  font-size: 20px;
  color: #fff;
  display: block;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .slide-big-second-txt {
    font-size: 6vw;
    margin-top: 6vw;
  }
}
.container {
  padding-left: 95px;
  padding-right: 95px;
}
@media only screen and (max-width: 1919px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding-left: 6.5626vw;
    padding-right: 6.5626vw;
  }
}
.slide-big-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media only screen and (max-width: 767px) {
  .slide-big-block {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
}
@media only screen and (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-lang-item,
.footer-choose-item {
  font-family: 'Montserrat-Light';
  color: #000;
  display: block;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.footer-lang-item:hover,
.footer-choose-item:hover {
  color: #57c8f3 !important;
}
.footer-choose-item {
  cursor: pointer;
}
.arrow-lang {
  margin-left: 4px;
  width: 10px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.arrow-lang img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .arrow-lang {
    width: 3vw;
    margin-top: auto;
  }
}
.footer-social-item {
  color: #000;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.footer-social-item:hover {
  color: #57c8f3 !important;
}
.footer-social-item:not(:first-child) {
  margin-left: 8px;
}
.footer-txt {
  font-family: 'Montserrat-Light';
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .footer-txt {
    font-size: 4.4vw;
  }
}
.footer-choose {
  display: none;
  position: absolute;
}
.open-lang .arrow-lang {
  -webkit-transform: rotate(-200grad);
      -ms-transform: rotate(-200grad);
          transform: rotate(-200grad);
}
.menu-blk {
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .menu-blk {
    display: none;
  }
}
.about {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.title {
  font-family: 'Montserat-Bold';
  font-size: 30px;
  color: #636466;
  display: block;
}
@media only screen and (max-width: 767px) {
  .title {
    font-size: 6.6vw;
  }
}
.page {
  padding-top: 30px;
}
.page-menu {
  margin-top: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .page-menu {
    margin-top: 2vw;
  }
}
.tab-block:not(:first-child) {
  padding-left: 10px;
}
.tab-block:not(:first-child):before {
  content: '';
  font-family: 'Montserrat-Light';
  font-size: 14px;
  content: '|';
  margin-right: 7px;
}
@media only screen and (max-width: 767px) {
  .tab-block:not(:first-child):before {
    font-size: 4.4vw;
  }
}
.tab-active .page-menu-link {
  color: #4bcaff;
}
.page-menu-link {
  font-family: 'Montserrat-Light';
  font-size: 14px;
  position: relative;
  color: #000;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .page-menu-link {
    font-size: 4.4vw;
  }
}
.page-menu-link:hover {
  color: #4bcaff;
}
.page-menu-link:not(:last-child) {
  padding-right: 10px;
}
.page-txt {
  font-family: 'Montserrat-Light';
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .page-txt {
    font-size: 4.4vw;
  }
}
.page-txt-block {
  margin-top: 50px;
}
.video-block {
  position: relative;
  margin-top: 31px;
  padding-bottom: 53.6%;
  /*пропорции видео 16:9 */
  padding-top: 1.8vw;
  height: 0;
  overflow: hidden;
}
.video-block .video-about {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #fff;
  z-index: -1;
}
.video-block:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('/img/overlay.png');
}
.cont-us {
  margin-top: 34px;
  display: inline-block;
  color: #57ceff;
  text-decoration: underline;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.cont-us:hover {
  color: #636466;
}
@media only screen and (max-width: 767px) {
  .cont-us {
    margin-top: 4vw;
  }
}
.video-prev-block {
  background-image: url('/img/overlay.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-left: 21px;
  padding-right: 21px;
  position: relative;
}
.video-prev-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-image: url('/img/overlay.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-left: 21px;
  padding-right: 21px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .video-prev-content {
    padding-left: 6.6vw;
    padding-right: 6.6vw;
  }
}
.video-prev {
  height: 17.8vw;
  width: 33.333%;
  margin-top: 0;
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  /* &:not(:nth-child(3n)){
		margin-right: 17px;
	} */
}
@media only screen and (max-width: 767px) {
  .video-prev {
    width: 100%;
    height: 52.8vw;
  }
}
.video-prev .video-prev-content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/img/overlay-blue.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: -1;
}
.video-prev:hover {
  cursor: pointer;
}
.video-prev:hover .video-prev-content:after {
  opacity: 1;
}
.video-prev-first-txt {
  font-family: 'Montserat-Bold';
  font-size: 20px;
  color: #fff;
  display: block;
}
@media only screen and (max-width: 767px) {
  .video-prev-first-txt {
    font-size: 5.4vw;
  }
}
.video-prev-second-txt {
  font-family: 'Montserat-Bold';
  font-size: 10px;
  color: #fff;
  display: block;
  margin-top: 10px;
}
.about-tab {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.photo-content {
  margin-top: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.video-content {
  display: -webkit-flex;
  display: -moz-flex;
  tdisplay: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.tab-page {
  display: none;
}
.tab-active-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}
@media only screen and (max-width: 767px) {
  .tab-active-content {
    margin-top: 4vw;
  }
}
.second-title {
  display: block;
  font-family: 'Montserat-Bold';
  font-size: 20px;
  margin-top: 20px;
  color: #636466;
}
@media only screen and (max-width: 767px) {
  .second-title {
    margin-top: 0;
  }
}
.video-txt-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.page-first-txt {
  margin-top: 33px;
  margin-bottom: 18px;
  display: inline-block;
}
.page-second-txt {
  display: inline-block;
  margin-top: 11px;
}
.photo-second-title {
  color: #636466;
  display: block;
  margin-top: 11px;
}
.contact-adress {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 44px;
}
.contact-txt {
  margin-top: 3px;
}
#map {
  margin-top: 40px;
  width: 100%;
  height: 592px;
}
.contact-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-info-name-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.contact-info-name {
  font-family: 'Montserat-Bold';
  font-size: 25px;
  color: #636466;
  display: inline-block;
}
.contact-info-name:not(:first-child) {
  margin-top: 8px;
}
.contact-info-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.contact-info-name-adress {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 18px;
}
.contact-info-linl:not(:first-child) {
  margin-top: 8px;
}
.slide-img-view {
  height: 454px;
  position: relative;
}
.slide-img-view img {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: auto !important;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.active-photo-slide {
  opacity: 1 !important;
}
.slide-block-swipe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.slide-prev {
  /* cursor: pointer; */
  position: relative;
  /* height: 8.5vw; */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.slide-prev:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/overlay.png');
}
.slide-prev img {
  width: 98%;
}
#slider-photo {
  position: relative;
}
#slider-photo .owl-nav {
  width: 100%;
  position: absolute;
  top: 30%;
}
#slider-photo .owl-nav .owl-prev,
#slider-photo .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  outline: none;
}
#slider-photo .owl-nav .owl-prev svg path,
#slider-photo .owl-nav .owl-next svg path {
  fill: #000;
  -webkit-transition: fill 0.2s;
  -o-transition: fill 0.2s;
  transition: fill 0.2s;
}
#slider-photo .owl-nav .owl-prev:hover svg path,
#slider-photo .owl-nav .owl-next:hover svg path {
  fill: #57c8f3;
}
#slider-photo .owl-nav .owl-prev {
  left: 11px;
}
#slider-photo .owl-nav .owl-next {
  right: 11px;
}
.slider-photo-number-txt {
  display: inline-block;
  font-family: 'Montserrat-Light';
  font-size: 14px;
  color: #000;
}
.slide-photo-number {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.slider-preview .owl-nav {
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
}
.slider-preview .owl-nav .owl-prev svg path,
.slider-preview .owl-nav .owl-next svg path {
  fill: #fff !important;
}
.slider-preview .owl-nav .owl-prev:hover svg path,
.slider-preview .owl-nav .owl-next:hover svg path {
  fill: #57c8f3 !important;
}
.photo-txt-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 57px;
}
.photo-txt-first {
  display: block;
  margin-bottom: 20px;
}
.photo-txt {
  margin-top: 5px;
}
.active-photo .video-prev-content:after {
  opacity: 1;
}
.block-news-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 44px;
  padding-bottom: 44px;
}
.block-news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.block-news:not(:first-child) {
  margin-top: 120px;
}
.news-img {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 23.4vw;
  width: 49%;
}
.news-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39%;
}
.news-date {
  font-size: 1.1vw;
  font-family: 'Montserrat-Light';
  color: #636466;
  display: inline-block;
  margin-bottom: 36px;
}
.news-name {
  font-family: 'Montserat-Bold';
  font-size: 1.84vw;
  color: #636466;
  display: inline-block;
  margin-bottom: 30px;
}
.news-txt {
  color: #636466;
  font-size: 1.1vw;
  font-family: 'Montserrat-Light';
  line-height: 1.5vw;
}
.news-link {
  font-size: 1.1vw;
}
.lang-hide {
  display: none;
}
.photo .swiper-container {
  width: 855px;
  height: 95px;
  margin-top: 14px !important;
}
.photo .swiper-slide {
  width: 20% !important;
  max-width: 170px;
  cursor: pointer;
}
.swiper-scrollbar {
  position: absolute !important;
  height: 3px;
  width: 332px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  background: #636466 !important;
}
.swiper-scrollbar-drag {
  background: #5ac6f1 !important;
  cursor: pointer;
}
.video-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 10%;
  cursor: pointer;
}
.video-btn img {
  width: 100%;
}
.play-video:after {
  opacity: 0;
}
.play-video .video-btn {
  opacity: 0;
}
.slider-creators {
  height: 27vw;
  margin-bottom: 100px !important	;
}
.slider-creators .slide-prev img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .slider-creators {
    height: 80vw;
    margin-bottom: 9vw !important;
  }
}
.slide-creators-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 27px;
  margin-left: 18px;
}
@media only screen and (max-width: 767px) {
  .slide-creators-content {
    margin-top: 4vw;
  }
}
.slide-creators-name {
  font-size: 25px;
  color: #636466;
  font-family: 'Montserat-Bold';
  display: block;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .slide-creators-name {
    font-size: 5.4vw;
    margin-bottom: 1vw;
  }
}
.slide-creators-text {
  font-size: 15px;
  font-family: 'Montserrat-Light';
  color: #636466;
  display: block;
  margin-top: 5px;
}
@media only screen and (max-width: 767px) {
  .slide-creators-text {
    margin-top: 2vw;
    font-size: 5vw;
  }
}
.slide-img-creators {
  height: 19vw;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .slide-img-creators {
    height: 56vw;
  }
}
.creators {
  padding-bottom: 2px;
}
.creators .swiper-scrollbar {
  margin-top: 0px;
  width: 24vw;
}
@media only screen and (max-width: 767px) {
  .creators .swiper-scrollbar {
    width: 50vw;
  }
}
.archive-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 523px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.archive-tabs:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #636466;
}
.archive-tabs:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 3px;
  background: #5ac6f1;
  z-index: 2;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.arch-photo:before {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.archive-tab-name {
  font-size: 25px;
  font-family: 'Montserat-Bold';
  color: #636466;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.archive-tabs-item {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 22px;
  cursor: pointer;
}
.active-tab-arch:after {
  background: #5ac6f1;
}
.active-tab-arch .archive-tab-name {
  color: #5ac6f1;
}
.archive-tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}
.arch-tags-link {
  font-family: 'Montserrat-Light';
  font-size: 15px;
  color: #636466;
  margin-top: 18px;
}
.arch-tags-link:not(:last-child) {
  margin-right: 18px;
}
.arch-tags-link:hover {
  color: #57c8f3 !important;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: color 0.1s, -webkit-transform 0.1s;
  transition: color 0.1s, -webkit-transform 0.1s;
  -o-transition: color 0.1s, transform 0.1s;
  transition: color 0.1s, transform 0.1s;
  transition: color 0.1s, transform 0.1s, -webkit-transform 0.1s;
}
.archive .tab-active-content {
  margin-top: 40px;
}
.video-creators {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
/*  .swiper-container-free-mode > .swiper-wrapper{
	transition: transform .3s ease !important;
}   */
.on {
  -webkit-transition: -webkit-transform 0.3s !important;
  transition: -webkit-transform 0.3s !important;
  -o-transition: transform 0.3s !important;
  transition: transform 0.3s !important;
  transition: transform 0.3s, -webkit-transform 0.3s !important;
}
.on-touch {
  -webkit-transition: -webkit-transform 0s  !important;
  transition: -webkit-transform 0s  !important;
  -o-transition: transform 0s  !important;
  transition: transform 0s  !important;
  transition: transform 0s, -webkit-transform 0s  !important;
  -webkit-transition-timing-function: cubic-bezier(-1, 0.7, 1, 0.1) !important;
       -o-transition-timing-function: cubic-bezier(-1, 0.7, 1, 0.1) !important;
          transition-timing-function: cubic-bezier(-1, 0.7, 1, 0.1) !important;
}
.arch-search-img {
  cursor: pointer;
}
.arch-search-img img {
  height: 100%;
}
.search-arch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 77px;
  right: 261px;
}
.search-inp {
  border: none;
  font-family: 'Montserrat-Light';
  outline: none;
  text-align: right;
  font-size: 16px;
  margin-right: 9px;
}
.news-more-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 1279px) {
  .news-more-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.news-more-txt {
  font-family: 'Montserrat-Light';
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
}
.video-news-more {
  width: 93%;
  margin-left: 56px;
  margin-top: 0;
  padding-bottom: 39.25%;
  overflow: hidden;
}
@media only screen and (max-width: 1366px) {
  .video-news-more {
    padding-bottom: 38.25%;
  }
}
@media only screen and (max-width: 1279px) {
  .video-news-more {
    margin-left: 0;
    padding-bottom: 49.8%;
    width: 100%;
    margin-top: 4vw;
  }
}
@media only screen and (max-width: 767px) {
  .video-news-more {
    padding-bottom: 53.8%;
    margin-top: 8vw;
  }
}
.video-news-more .video-btn {
  width: 84px;
}
@media only screen and (max-width: 767px) {
  .video-news-more .video-btn {
    width: 9vw;
  }
}
.news-more-slide-txt {
  font-family: 'Montserrat-Light';
  font-size: 15px;
  width: 30%;
  line-height: 20px;
  text-align: justify;
}
@media only screen and (max-width: 1279px) {
  .news-more-slide-txt {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
}
.news-more {
  padding-top: 56px;
}
.news-more-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 57px;
}
@media only screen and (max-width: 767px) {
  .news-more-info {
    margin-top: 6vw;
  }
}
@media only screen and (max-width: 1279px) {
  .news-more-info {
    margin-top: 2vw;
  }
}
.news-info-text {
  font-family: 'Montserrat-Light';
  font-size: 15px;
  color: #636466;
}
.news-info-text:not(:first-child) {
  margin-top: 4px;
}
@media only screen and (max-width: 767px) {
  .news-info-text {
    font-size: 4vw;
  }
}
.creators-bottom-txt {
  font-family: 'Montserrat-Light';
  font-size: 15px;
  color: #636466;
  line-height: 20px;
}
.news-slider {
  width: 70%;
  position: relative;
  margin-right: 56px;
}
@media only screen and (max-width: 1279px) {
  .news-slider {
    width: 100%;
    margin-right: 0;
    padding-top: 12vw;
  }
}
@media only screen and (max-width: 767px) {
  .news-slider {
    padding-top: 17vw;
  }
}
@media only screen and (max-width: 1279px) {
  .news-slider .swiper-scrollbar {
    top: 0;
    width: 44vw;
    margin-top: 5.5vw;
  }
}
@media only screen and (max-width: 767px) {
  .news-slider .swiper-scrollbar {
    margin-top: 8vw;
  }
}
.slide-news-more {
  font-size: 0;
}
.slide-news-more img {
  width: 100.3%;
  font-size: 0;
}
.news-slider-block {
  margin-bottom: 100px;
  margin-top: 56px;
}
@media only screen and (max-width: 1279px) {
  .news-slider-block {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 767px) {
  .news-slider-block {
    margin-top: 9vw;
  }
}
.news-more-txt-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}
@media only screen and (max-width: 1279px) {
  .news-more-txt-block {
    width: 100%;
  }
}
.creators-slider-block {
  margin-bottom: 56px;
}
@media only screen and (max-width: 1279px) {
  .creators-slider-block {
    margin-bottom: 3vw;
  }
}
@media only screen and (max-width: 767px) {
  .creators-slider-block {
    margin-bottom: 9vw;
  }
}
.creators-new {
  margin-bottom: 100px;
}
@media only screen and (max-width: 767px) {
  .creators-new {
    margin-bottom: 17vw;
  }
}
.video-top {
  position: relative;
  padding-bottom: 200%;
  -webkit-transform: translateY(-37.3%);
      -ms-transform: translateY(-37.3%);
          transform: translateY(-37.3%);
}
.video-top-creatotrs {
  position: relative;
  padding-bottom: 200%;
  -webkit-transform: translateY(-0.1%);
      -ms-transform: translateY(-0.1%);
          transform: translateY(-0.1%);
  width: 100%;
}
.menu-mob {
  display: none;
}
@media only screen and (max-width: 767px) {
  .menu-mob {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    -webkit-transition: -webkit-transform 0.5s ease 0.4s;
    transition: -webkit-transform 0.5s ease 0.4s;
    -o-transition: transform 0.5s ease 0.4s;
    transition: transform 0.5s ease 0.4s;
    transition: transform 0.5s ease 0.4s, -webkit-transform 0.5s ease 0.4s;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
.menu-block-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 44%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.circle-desk {
  display: block;
}
@media only screen and (max-width: 767px) {
  .circle-desk {
    display: none;
  }
}
.circle-mob {
  display: none;
}
@media only screen and (max-width: 767px) {
  .circle-mob {
    display: block;
  }
}
.logo-desk {
  display: block;
}
@media only screen and (max-width: 767px) {
  .logo-desk {
    display: none;
  }
}
.logo-mob {
  display: none;
}
@media only screen and (max-width: 767px) {
  .logo-mob {
    display: inline-block;
    margin-right: 5vw;
  }
}
.logo-mob-blk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: 2vw;
}
@media only screen and (max-width: 767px) {
  .footer-social {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    text-align: center;
    margin-bottom: 7.5vw;
  }
}
@media only screen and (max-width: 767px) {
  .page-block {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .creators-new {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .container-mob,
  .video-txt-block,
  .second-title {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media only screen and (max-width: 767px) {
  .news-more-slide-txt,
  .news-more-txt,
  .creators-bottom-txt {
    font-size: 4vw;
    line-height: 5vw;
  }
}
@media only screen and (max-width: 767px) {
  .video-item {
    padding-left: 0;
    padding-right: 0;
  }
}
.about-tab {
  margin-top: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
b,
strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
u {
  text-decoration: underline;
}
s {
  text-decoration: line-through;
}
sup {
  vertical-align: super;
  font-size: 70%;
}
sub {
  vertical-align: sub;
  font-size: 70%;
}
